################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProyectoParking-BE/FileContentIndex/6c55ee3b-3144-4210-893d-6fd72ba03d24.vsidx
